# Omits .bak files
*.bak
# These entries allow us to ignore the exercise description files
section-3/exercises-2/exercises-2_description.txt
section-5/exercises-3/exercises-3_description.txt
section-7/exercises-4/exercises-4_description.txt
section-8/exercises-5/exercises-5_description.txt
section-8/exercises-6/exercises-6_answers.txt
section-8/exercises-7/exercises-7-answers.txt
section-8/exercises-8/exercises-8-answers.txt
